<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">O autoru</h2>
    <p class="w3-justify">Autor ove aplikacije je Aleksandar Tepic. <br> Cilj kreiranja ove aplikacije je sticanje znanja i prakse u razvijanju web aplikacija. </p>
  </div>

  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">Kontakt</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Srbija<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +381 1555333<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: a.tepic92@gmail.com<br>
      </div>
    </div>
  </div>
</div>

</body>
</html>
