<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Tepke app</h2>
    <p class="w3-opacity"><i>Sport is life</i></p>
    <p class="w3-justify">Aplikacija nam nudi evidentiranje igraca, timova, lige i nacionalnosti. Kreiranje novih igraca, timova i liga po zelji.</p>Srećno!
  </div>
</div>

</body>
</html>
